---
http_interactions:
- request:
    method: get
    uri: https://data.cdc.gov/resource/x9gk-5huc.json?week=51
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"YWxwaGEuMzA3NTM3XzVfMTY1Y3BOWWZib1h4bjhQOWtlMDhiMU14MWhTM1JJ---gzipcj9Vl78oPa8m4w0oB4zpQWpEk6E--gzip--gzip"'
      X-Soda2-Fields:
      - '["states","year","week","label","m1","m1_flag","m2","m2_flag","m3","m3_flag","m4","m4_flag","location1","location2","sort_order","geocode"]'
      X-Soda2-Types:
      - '["text","text","number","text","number","text","number","text","number","text","number","text","text","text","text","point"]'
      X-Soda2-Data-Out-Of-Date:
      - 'false'
      X-Soda2-Truth-Last-Modified:
      - Fri, 06 Jan 2023 16:38:25 GMT
      X-Soda2-Secondary-Last-Modified:
      - Fri, 06 Jan 2023 16:38:25 GMT
      Last-Modified:
      - Fri, 06 Jan 2023 16:38:25 GMT
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
      X-Socrata-Requestid:
      - a48f915629c82945cbb410341b580dc0
    body:
      encoding: ASCII-8BIT
      string: |
        [{"states":"US RESIDENTS","year":"2022","week":"51","label":"Anthrax","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location2":"US RESIDENTS","sort_order":"20225100001"}
        ,{"states":"NEW ENGLAND","year":"2022","week":"51","label":"Anthrax","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location2":"NEW ENGLAND","sort_order":"20225100002"}
        ,{"states":"CONNECTICUT","year":"2022","week":"51","label":"Anthrax","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location1":"CONNECTICUT","sort_order":"20225100003","geocode":{"type":"Point","coordinates":[-72.67399,41.76376]}}
        ,{"states":"MAINE","year":"2022","week":"51","label":"Anthrax","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location1":"MAINE","sort_order":"20225100004","geocode":{"type":"Point","coordinates":[-69.77631,44.31804]}}
        ,{"states":"MASSACHUSETTS","year":"2022","week":"51","label":"Anthrax","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location1":"MASSACHUSETTS","sort_order":"20225100005","geocode":{"type":"Point","coord[...]
