---
http_interactions:
- request:
    method: get
    uri: https://data.cdc.gov/resource/x9gk-5huc.json?week=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"YWxwaGEuMzA3NTM3XzVfMTY5YzZ0V2hXbnlEWWlzQU85UGp2MTgzNVlad1pN---gzippIfIBW8tphWnyH7VGSNTBlbyw5A--gzip--gzip"'
      X-Soda2-Fields:
      - '["states","year","week","label","m1","m1_flag","m2","m2_flag","m3","m3_flag","m4","m4_flag","location1","location2","sort_order","geocode"]'
      X-Soda2-Types:
      - '["text","text","number","text","number","text","number","text","number","text","number","text","text","text","text","point"]'
      X-Soda2-Data-Out-Of-Date:
      - 'false'
      X-Soda2-Truth-Last-Modified:
      - Thu, 19 Jan 2023 21:55:39 GMT
      X-Soda2-Secondary-Last-Modified:
      - Thu, 19 Jan 2023 21:55:39 GMT
      Last-Modified:
      - Thu, 19 Jan 2023 21:55:39 GMT
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
      X-Socrata-Requestid:
      - 7404567cab2a38cd4c2b6018040e5771
    body:
      encoding: ASCII-8BIT
      string: |
        [{"states":"US RESIDENTS","year":"2022","week":"2","label":"Anthrax","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location2":"US RESIDENTS","sort_order":"20220200001"}
        ,{"states":"NEW ENGLAND","year":"2022","week":"2","label":"Anthrax","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location2":"NEW ENGLAND","sort_order":"20220200002"}
        ,{"states":"CONNECTICUT","year":"2022","week":"2","label":"Anthrax","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location1":"CONNECTICUT","sort_order":"20220200003","geocode":{"type":"Point","coordinates":[-72.738288,41.575155]}}
        ,{"states":"MAINE","year":"2022","week":"2","label":"Anthrax","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location1":"MAINE","sort_order":"20220200004","geocode":{"type":"Point","coordinates":[-69.06137,45.117911]}}
        ,{"states":"MASSACHUSETTS","year":"2022","week":"2","label":"Anthrax","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location1":"MASSACHUSETTS","sort_order":"20220200005","geocode":{"type":"Point","coor[...]
