---
http_interactions:
- request:
    method: get
    uri: https://data.cdc.gov/resource/biid-68vb.json?record_number=1076
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"YnJhdm8uNTAwNl8zXzQwODBCMkNjaEgtTlgtZktNbUQ0N0RIVnNZcERXMA---gziojcVaxMxdgAPzawHQCnAxiVfHla--gzip--gzip"'
      X-Soda2-Fields:
      - '["record_number","reference_type","author","year","title","secondary_author","secondary_title","publisher","volume","number_of_volumes","number","pages","section","tertiary_author","tertiary_title","edition","date","type_of_work","subsidiary_author","short_title","alternate_title","isbn_issn","original_publication","reprint_edition","reviewed_item","custom_1","custom_2","custom_3","custom_4","custom_5","custom_6","custom_7","custom_8","accession_number","call_number","label","keywords","abstract","notes","research_notes","url","author_address","figure","caption","access_date","translated_author","translated_title","name_of_database","database_provider","language","publisher_location","doi"]'
      X-Soda2-Types:
      - '["number","text","text","number","text","text","text","text","number","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","number","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text"]'
      X-Soda2-Data-Out-Of-Date:
      - 'false'
      X-Soda2-Truth-Last-Modified:
      - Wed, 21 Dec 2022 19:51:38 GMT
      X-Soda2-Secondary-Last-Modified:
      - Wed, 21 Dec 2022 19:51:38 GMT
      Last-Modified:
      - Wed, 21 Dec 2022 19:51:38 GMT
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
      X-Socrata-Requestid:
      - f539d74dabece85716469fcf2c78ce42
    body:
      encoding: ASCII-8BIT
      string: '[{"record_number":"1076","reference_type":"Generic","author":"de Oliveira,
        F. F. M. M., S.;Gonti, S.;Brey, R. N.;Li, H.;Schiffer, J.;Casadevall, A.;Bann,
        J. G.","year":"2020","title":"Binding of the von Willebrand factor a domain
        of capillary morphogenesis protein 2 to anthrax protective antigen vaccine
        reduces immunogenicity in mice","secondary_title":"mSphere","volume":"5","number":"1","date":"15-01","short_title":"Binding
        of the von Willebrand factor a domain of capillary morphogenesis protein 2
        to anthrax protective antigen vaccine reduces immunogenicity in mice","isbn_issn":"2379-5042","custom_1":"CDC
        Authored Publications","custom_2":"Laboratory Sciences","custom_8":"12:03","accession_number":"31941807","keywords":"anthrax:antigen
        processing:immunization:protein stability","abstract":"Protective antigen
        (PA) is a component of anthrax toxin that can elicit toxin-neutralizing antibody
        responses. PA is also the major antigen in the current vaccine to prevent
        anthrax, but stability problems with recombinant proteins have complicated
        the development of new vaccines containing recombinant PA. The relationship
        between antigen physical stability and immunogenicity is poorly understood,
        but there are theoretical reasons to think that th[...]
