---
http_interactions:
- request:
    method: get
    uri: https://data.cdc.gov/resource/x9gk-5huc.json?states=GEORGIA&week=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"YWxwaGEuMzA3NTM3XzVfMTcxcUJKRGlVUkpEaGU2NkhlRHlMNFVZamlKd0w0---gzipAlYQo7ob-k7npRtipirAbgbRCZw--gzip--gzip"'
      X-Soda2-Fields:
      - '["states","year","week","label","m1","m1_flag","m2","m2_flag","m3","m3_flag","m4","m4_flag","location1","location2","sort_order","geocode"]'
      X-Soda2-Types:
      - '["text","text","number","text","number","text","number","text","number","text","number","text","text","text","text","point"]'
      X-Soda2-Data-Out-Of-Date:
      - 'false'
      X-Soda2-Truth-Last-Modified:
      - Thu, 26 Jan 2023 17:04:58 GMT
      X-Soda2-Secondary-Last-Modified:
      - Thu, 26 Jan 2023 17:04:58 GMT
      Last-Modified:
      - Thu, 26 Jan 2023 17:04:58 GMT
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
      X-Socrata-Requestid:
      - d8ef548ce564daf28dde6af3e26484a3
    body:
      encoding: ASCII-8BIT
      string: |
        [{"states":"GEORGIA","year":"2022","week":"3","label":"Anthrax","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location1":"GEORGIA","sort_order":"20220300032","geocode":{"type":"Point","coordinates":[-83.426574,32.638481]}}
        ,{"states":"GEORGIA","year":"2022","week":"3","label":"Arboviral diseases, Chikungunya virus disease","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location1":"GEORGIA","sort_order":"20220300102","geocode":{"type":"Point","coordinates":[-83.426574,32.638481]}}
        ,{"states":"GEORGIA","year":"2022","week":"3","label":"Arboviral diseases, Eastern equine encephalitis virus disease","m1_flag":"-","m2":"1","m2_flag":"-","m3_flag":"-","m4_flag"[...]
