---
http_interactions:
- request:
    method: get
    uri: https://data.cdc.gov/resource/x9gk-5huc.json?states=GEORGIA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"YWxwaGEuMzA3NTM3XzVfMTYzSDR4VDQzeEYwTVhvaFY1S2k2aXl1LXJ6MVZF---gzipj182REcM5OMpZozRWmSSPtBrIVY--gzip--gzip"'
      X-Soda2-Fields:
      - '["states","year","week","label","m1","m1_flag","m2","m2_flag","m3","m3_flag","m4","m4_flag","location1","location2","sort_order","geocode"]'
      X-Soda2-Types:
      - '["text","text","number","text","number","text","number","text","number","text","number","text","text","text","text","point"]'
      X-Soda2-Data-Out-Of-Date:
      - 'false'
      X-Soda2-Truth-Last-Modified:
      - Thu, 29 Dec 2022 16:53:08 GMT
      X-Soda2-Secondary-Last-Modified:
      - Thu, 29 Dec 2022 16:53:08 GMT
      Last-Modified:
      - Thu, 29 Dec 2022 16:53:08 GMT
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
      X-Socrata-Requestid:
      - c68068dc01c99f3acad911cd2eba0006
    body:
      encoding: ASCII-8BIT
      string: |
        [{"states":"GEORGIA","year":"2022","week":"1","label":"Anthrax","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location1":"GEORGIA","sort_order":"20220100032","geocode":{"type":"Point","coordinates":[-83.426574,32.638481]}}
        ,{"states":"GEORGIA","year":"2022","week":"1","label":"Arboviral diseases, Chikungunya virus disease","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location1":"GEORGIA","sort_order":"20220100102","geocode":{"type":"Point","coordinates":[-83.426574,32.638481]}}
        ,{"states":"GEORGIA","year":"2022","week":"1","label":"Arboviral diseases, Eastern equine encephalitis virus disease","m1_flag":"-","m2":"1","m2_flag":"-","m3_flag":"-","m4_flag"[...]
