---
http_interactions:
- request:
    method: get
    uri: https://data.cdc.gov/resource/x9gk-5huc.json?states=GEORGIA&week=52
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"YWxwaGEuMzA3NTM3XzVfMTY1XzdPLXVoTU5NZk1xOXk0Y01mdW9pc3lXZFd3---gzipYmWXtRntytzAyvqPDUC-mfppf6s--gzip--gzip"'
      X-Soda2-Fields:
      - '["states","year","week","label","m1","m1_flag","m2","m2_flag","m3","m3_flag","m4","m4_flag","location1","location2","sort_order","geocode"]'
      X-Soda2-Types:
      - '["text","text","number","text","number","text","number","text","number","text","number","text","text","text","text","point"]'
      X-Soda2-Data-Out-Of-Date:
      - 'false'
      X-Soda2-Truth-Last-Modified:
      - Fri, 06 Jan 2023 16:38:25 GMT
      X-Soda2-Secondary-Last-Modified:
      - Fri, 06 Jan 2023 16:38:25 GMT
      Last-Modified:
      - Fri, 06 Jan 2023 16:38:25 GMT
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
      X-Socrata-Requestid:
      - 19cc38f8cb76520e9901baf1884af8f8
    body:
      encoding: ASCII-8BIT
      string: |
        [{"states":"GEORGIA","year":"2022","week":"52","label":"Anthrax","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location1":"GEORGIA","sort_order":"20225200032","geocode":{"type":"Point","coordinates":[-84.39111,33.74831]}}
        ,{"states":"GEORGIA","year":"2022","week":"52","label":"Arboviral diseases, Chikungunya virus disease","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location1":"GEORGIA","sort_order":"20225200102","geocode":{"type":"Point","coordinates":[-84.39111,33.74831]}}
        ,{"states":"GEORGIA","year":"2022","week":"52","label":"Arboviral diseases, Eastern equine encephalitis virus disease","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4":"2","m4_flag":"-","location1":"GEORGIA","sort_order":"20225200172","geocode":{"type":"Point","coordinates":[-84.39111,33.74831]}}
        ,{"states":"GEORGIA","year":"2022","week":"52","label":"Arboviral diseases, Jamestown Canyon  virus disease","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location1":"GEORGIA","sort_order":"20225200242","geocode":{"type":"Point","coordinates":[-84.39111,33.74831]}}
        ,{"states":"GEORGIA","year":"2022","week":"52","label":"Arboviral diseases, La Crosse  virus disease","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location1":"GEORGIA","sort_order":"20225200312","geocode":{"type":"Point","coordinates":[-84.39111,33.74831]}}
        ,{"states":"GEORGIA","year":"2022","week":"52","label":"Arboviral diseases, Powassan virus disease","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location1":"GEORGIA","sort_order":"20225200382","geocode":{"type":"Point","coordinates":[-84.39111,33.74831]}}
        ,{"states":"GEORGIA","year":"2022","week":"52","label":"Arboviral diseases, St. Louis encephalitis virus disease","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location1":"GEORGIA","sort_order":"20225200452","geocode":{"type":"Point","coordinates":[-84.39111,33.74831]}}
        ,{"states":"GEORGIA","year":"2022","week":"52","label":"Arboviral diseases, West Nile virus disease","m1_flag":"-","m2":"3","m2_flag":"-","m3":"18","m3_flag":"-","m4":"4","m4_flag":"-","location1":"GEORGIA","sort_order":"20225200522","geocode":{"type":"Point","coordinates":[-84.39111,33.74831]}}
        ,{"states":"GEORGIA","year":"2022","week":"52","label":"Arboviral diseases, Western equine encephalitis virus disease","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location1":"GEORGIA","sort_order":"20225200592","geocode":{"type":"Point","coordinates":[-84.39111,33.74831]}}
        ,{"states":"GEORGIA","year":"2022"[...]
