---
http_interactions:
- request:
    method: get
    uri: https://data.cdc.gov/resource/x9gk-5huc.json?states=GEORGIA&week=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"YWxwaGEuMzA3NTM3XzVfMTY5bW5IZTV6RDZiSGkzWU55cXp6LXFtV2xCaFU4---gzipIqdNd99Eky40F2DCA5e2fIsWvRg--gzip--gzip"'
      X-Soda2-Fields:
      - '["states","year","week","label","m1","m1_flag","m2","m2_flag","m3","m3_flag","m4","m4_flag","location1","location2","sort_order","geocode"]'
      X-Soda2-Types:
      - '["text","text","number","text","number","text","number","text","number","text","number","text","text","text","text","point"]'
      X-Soda2-Data-Out-Of-Date:
      - 'false'
      X-Soda2-Truth-Last-Modified:
      - Thu, 19 Jan 2023 21:55:39 GMT
      X-Soda2-Secondary-Last-Modified:
      - Thu, 19 Jan 2023 21:55:39 GMT
      Last-Modified:
      - Thu, 19 Jan 2023 21:55:39 GMT
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
      X-Socrata-Requestid:
      - d3e09465b22412f163ed3234e6d4da13
    body:
      encoding: ASCII-8BIT
      string: |
        [{"states":"GEORGIA","year":"2022","week":"2","label":"Anthrax","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location1":"GEORGIA","sort_order":"20220200032","geocode":{"type":"Point","coordinates":[-83.426574,32.638481]}}
        ,{"states":"GEORGIA","year":"2022","week":"2","label":"Arboviral diseases, Chikungunya virus disease","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location1":"GEORGIA","sort_order":"20220200102","geocode":{"type":"Point","coordinates":[-83.426574,32.638481]}}
        ,{"states":"GEORGIA","year":"2022","week":"2","label":"Arboviral diseases, Eastern equine encephalitis virus disease","m1_flag":"-","m2":"1","m2_flag":"-","m3_flag":"-","m4_flag"[...]
