---
http_interactions:
- request:
    method: get
    uri: https://data.cdc.gov/resource/x9gk-5huc.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"YWxwaGEuMzA3NTM3XzVfMTYzal9zMnhpVHA2Z3RWazJtY1poS3RzOFRfRlJv---gzipW8docrtXC0Jk2yuZibyYaplLQW0--gzip--gzip"'
      X-Soda2-Fields:
      - '["states","year","week","label","m1","m1_flag","m2","m2_flag","m3","m3_flag","m4","m4_flag","location1","location2","sort_order","geocode",":@computed_region_hjsp_umg2",":@computed_region_skr5_azej"]'
      X-Soda2-Types:
      - '["text","text","number","text","number","text","number","text","number","text","number","text","text","text","text","point","number","number"]'
      X-Soda2-Data-Out-Of-Date:
      - 'false'
      X-Soda2-Truth-Last-Modified:
      - Thu, 29 Dec 2022 16:53:08 GMT
      X-Soda2-Secondary-Last-Modified:
      - Thu, 29 Dec 2022 16:53:08 GMT
      Last-Modified:
      - Thu, 29 Dec 2022 16:53:08 GMT
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
      X-Socrata-Requestid:
      - 805ff8358725a0a90090b55878bb59d8
    body:
      encoding: ASCII-8BIT
      string: |
        [{"states":"US RESIDENTS","year":"2022","week":"1","label":"Anthrax","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location2":"US RESIDENTS","sort_order":"20220100001"}
        ,{"states":"NEW ENGLAND","year":"2022","week":"1","label":"Anthrax","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location2":"NEW ENGLAND","sort_order":"20220100002"}
        ,{"states":"CONNECTICUT","year":"2022","week":"1","label":"Anthrax","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location1":"CONNECTICUT","sort_order":"20220100003","geocode":{"type":"Point","coordinates":[-72.738288,41.575155]},":@computed_region_hjsp_umg2":"24",":@computed_region_skr5_azej":"1043"}
        ,{"states":"MAINE","year":"2022","week":"1","label":"Anthrax","m1_flag":"-","m2":"0","m2_flag":"-","m3_flag":"-","m4_flag":"-","location1":"MAINE","sort_order":"20220100004","geocode":{"type":"Point","coordinates":[-69.06137,45.117911]},":@computed_region_hjsp_umg2":"49",":@computed_region_skr5_azej":"1725"}
        ,{"states":"MASSACHUSETTS","year":"2022","week":"1","label":"Anthrax","m1_fla[...]
[...]
