---
http_interactions:
- request:
    method: get
    uri: https://data.cdc.gov/resource/biid-68vb.json?record_number=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"YnJhdm8uNTAwNl8zXzQwOC1mUUlwXzFIdlAybS1QTEtqM2lSRF9YWjVXWQ---gzin4HAsfS-1knMoTlHm6VAATnElAF--gzip--gzip"'
      X-Soda2-Fields:
      - '["record_number","reference_type","author","year","title","secondary_author","secondary_title","publisher","volume","number_of_volumes","number","pages","section","tertiary_author","tertiary_title","edition","date","type_of_work","subsidiary_author","short_title","alternate_title","isbn_issn","original_publication","reprint_edition","reviewed_item","custom_1","custom_2","custom_3","custom_4","custom_5","custom_6","custom_7","custom_8","accession_number","call_number","label","keywords","abstract","notes","research_notes","url","author_address","figure","caption","access_date","translated_author","translated_title","name_of_database","database_provider","language","publisher_location","doi"]'
      X-Soda2-Types:
      - '["number","text","text","number","text","text","text","text","number","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","number","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text"]'
      X-Soda2-Data-Out-Of-Date:
      - 'false'
      X-Soda2-Truth-Last-Modified:
      - Wed, 21 Dec 2022 19:51:38 GMT
      X-Soda2-Secondary-Last-Modified:
      - Wed, 21 Dec 2022 19:51:38 GMT
      Last-Modified:
      - Wed, 21 Dec 2022 19:51:38 GMT
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
      X-Socrata-Requestid:
      - cb422e94bd14a0bb32f01bb1b3247423
    body:
      encoding: ASCII-8BIT
      string: '[{"record_number":"3","reference_type":"Generic","author":"Crepaz,
        N. T., T., Marks, G., Hall, H. I.,","year":"2017","title":"Changes in viral
        suppression status among HIV patients receiving care: United States, 2014","secondary_title":"Aids","edition":"10/14/2017","date":"10-Dec","short_title":"Changes
        in viral suppression status among HIV patients receiving care: United States,
        2014","alternate_title":"AIDS (London, England)","isbn_issn":"0269-9370","custom_1":"Top
        Articles of the Week","custom_2":"Communicable Diseases","custom_8":"9:43","accession_number":"29028661","abstract":"OBJECTIVE:
        To examine changes in viral suppression status among HIV patients receiving
        care in 2014 and the extent of viral suppression among persons with infrequent
        care visits. METHODS: Using data reported to the National HIV Surveillance
        System from 33 jurisdictions with complete reporting of CD4 and viral load
        tests, we created four viral suppression status groups based on their first
        and last viral loads in 2014: both suppressed, first unsupp[...]
[...]
